<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * MageFlow Connector Magento extension configuration file
 *
 * @category   MFX
 * @package    Mageflow_Connect
 * @subpackage Configuration
 * @author     Prototypely Ltd, Estonia <info@prototypely.com>
 * @copyright  Copyright © 2017 Prototypely Ltd, Estonia (http://prototypely.com) 
 * @license MIT Copyright (c) 2017 Prototypely Ltd
 * @link       http://mageflow.com/
 */
-->
<config>
    <modules>
        <Mageflow_Connect>
            <version>2.0.2</version>
            <name>MageFlow Connector</name>
        </Mageflow_Connect>
    </modules>
    <global>
        <models>
            <mageflow_connect>
                <class>Mageflow_Connect_Model</class>
                <resourceModel>mageflow_connect_resource</resourceModel>
            </mageflow_connect>
            <mageflow_connect_resource>
                <class>Mageflow_Connect_Model_Resource</class>
                <entities>
                    <performance_history>
                        <table>mageflow_performance_history</table>
                    </performance_history>
                    <changeset_item>
                        <table>mageflow_changeset_item</table>
                    </changeset_item>
                    <media_index>
                        <table>mageflow_media_index</table>
                    </media_index>
                    <changeset_item_cache>
                        <table>mageflow_changeset_item_cache</table>
                    </changeset_item_cache>
                </entities>
            </mageflow_connect_resource>
            <core_resource>
                <rewrite>
                    <config_data>Mageflow_Connect_Model_Resource_Config_Data</config_data>
                </rewrite>
            </core_resource>
            <admin>
                <rewrite>
                    <observer>Mageflow_Connect_Model_Admin_Observer</observer>
                </rewrite>
            </admin>
            <api2>
                <rewrite>
                    <acl_filter>Mageflow_Connect_Model_Api2_Acl_Filter</acl_filter>
                </rewrite>
            </api2>
            <catalog>
                <rewrite>
                    <product_attribute_backend_media>Mageflow_Connect_Model_Product_Attribute_Backend_Media</product_attribute_backend_media>
                </rewrite>
            </catalog>
        </models>
        <resources>
            <mageflow_connect_setup>
                <setup>
                    <module>Mageflow_Connect</module>
                    <class>Mageflow_Connect_Model_Resource_Setup</class>
                </setup>
            </mageflow_connect_setup>
        </resources>
        <helpers>
            <mageflow_connect>
                <class>Mageflow_Connect_Helper</class>
            </mageflow_connect>
        </helpers>
        <blocks>
            <mageflow_connect>
                <class>Mageflow_Connect_Block</class>
            </mageflow_connect>
        </blocks>
        <events>
            <save_changeset_item>
                <observers>
                    <on_save_changeset_item>
                        <class>mageflow_connect/observer</class>
                        <method>onSaveChangesetItem</method>
                    </on_save_changeset_item>
                </observers>
            </save_changeset_item>
            <controller_front_send_response_after>
                <observers>
                    <collect_memory_usage>
                        <class>mageflow_connect/observer</class>
                        <method>collectMemoryUsage</method>
                    </collect_memory_usage>
                </observers>
            </controller_front_send_response_after>
            <model_save_commit_after>
                <observers>
                    <on_model_save_commit_after>
                        <class>mageflow_connect/observer</class>
                        <method>onModelSaveCommitAfter</method>
                    </on_model_save_commit_after>
                </observers>
            </model_save_commit_after>
            <category_move>
                <observers>
                    <on_move_category>
                        <class>mageflow_connect/observer</class>
                        <method>onMoveCategory</method>
                    </on_move_category>
                </observers>
            </category_move>
            <model_save_before>
                <observers>
                    <add_mf_data>
                        <class>mageflow_connect/observer</class>
                        <method>onBeforeSave</method>
                    </add_mf_data>
                </observers>
            </model_save_before>
            <model_config_data_save_before>
                <observers>
                    <add_mf_data>
                        <class>mageflow_connect/observer</class>
                        <method>onBeforeSave</method>
                    </add_mf_data>
                </observers>
            </model_config_data_save_before>
            <controller_action_predispatch>
                <observers>
                    <mageflow_controller_action_predispatch>
                        <class>mageflow_connect/observer</class>
                        <method>onControllerActionPredispatch</method>
                    </mageflow_controller_action_predispatch>
                </observers>
            </controller_action_predispatch>
        </events>
        <api2>
            <response>
                <renders>
                    <!-- HTML -->
                    <text_html>
                        <type>text/html</type>
                        <model>mageflow_connect/api2_renderer_html</model>
                    </text_html>
                </renders>
            </response>
        </api2>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mageflow before="Mage_Adminhtml">Mageflow_Connect</mageflow>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <mageflow_connect>
                    <file>mageflow/connect/layout.xml</file>
                </mageflow_connect>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <mageflow_connect>
                    <file>mageflow/connect/layout.xml</file>
                </mageflow_connect>
            </updates>
        </layout>
    </frontend>
    <default>
        <mageflow_connect>
            <api>
                <enabled>1</enabled>
                <instance_type>community</instance_type>
            </api>
            <advanced>
                <log_enabled>1</log_enabled>
                <log_lines>100</log_lines>
                <log_level>7</log_level>
                <pull_days_back>30</pull_days_back>
                <ground_rules>https://app.mageflow.com/groundrules</ground_rules>
                <license_server>https://license.mageflow.com/</license_server>
                <auto_clean_cache>1</auto_clean_cache>
                <auto_truncate_cache>0</auto_truncate_cache>
                <enable_collecting_memory>0</enable_collecting_memory>
                <auto_clean_collected_memory>0</auto_clean_collected_memory>
            </advanced>
            <system>
                <maintenance_mode>0</maintenance_mode>
            </system>
            <enabled_types>
                <enable_cms_page>1</enable_cms_page>
                <enable_cms_block>1</enable_cms_block>
                <enable_cms_widget>1</enable_cms_widget>
                <enable_cms_poll>1</enable_cms_poll>
                <enable_promotion_catalog>1</enable_promotion_catalog>
                <enable_promotion_cart>1</enable_promotion_cart>
            </enabled_types>
        </mageflow_connect>
    </default>
    <crontab>
        <jobs>
            <mageflow_update_item_cache>
                <schedule>
                    <cron_expr>0 */1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>mageflow_connect/async_itemcacheupdater::run</model>
                </run>
            </mageflow_update_item_cache>
            <mageflow_clean_collected_memory>
                <schedule>
                    <cron_expr>17 4 * * *</cron_expr>
                </schedule>
                <run>
                    <model>mageflow_connect/async_datacleaner::run</model>
                </run>
            </mageflow_clean_collected_memory>
        </jobs>
    </crontab>
</config>
